/* Palette URL: http://paletton.com/#uid=33m0I0kddbqoSmfkHhXmVeMvscT */

:root
{
    --color-primary-light: #c7493a;
    --color-primary-mid: #a33327;
    --color-primary-dark: #161616;

    /* Secondary Color: */
    --color-secondary-light: #ccbca6;
    --color-secondary-mid: #EC5477;
    --color-secondary-dark: #443135;
}