<!DOCTYPE html>
<html lang="{% block html_lang %}{{ DEFAULT_LANG }}{% endblock html_lang %}">
<head>
   <meta charset="UTF-8">
   <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/main.css" />
   <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/colors.css" />
   <link rel="icon" type="image/png" href="/images/avatar.jpg" sizes="16x16">
   <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
</head>
<body id="index" class="home">
    {% include 'navbar.html' %}
    {% block content %}
    {% endblock %}
    <footer>
        Copyright © 2021 Stephen Melnick
        <br>
        <a href='https://github.com/Redesigner/Redesigner.github.io'>Source code available on GitHub</a>
    </footer>
</body>
</html>